.blockchain-product-description-table td{
    padding-right: 40px;
}
.view-request{
    height: 40px;
    width: 150px;
    border: .3px solid;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    background-color: grey;
    color: white;
}